

h1 {
    font-family: fantasy;
}

body {
    background-color: #006666;
}

.centered-on-page {
    text-align: center;
}

.fancy {
    color: #FF9900;
}

img {
    display: block;
    float: left;
    margin: 0 1em;
}

.user_input {
    color: #CC00FF;
    font-weight: bold;
}