<!-- TODO this will be the page with the cool game! -->

<!DOCTYPE html>
<html>
<head>
    <title>You made it to the game!!!</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
<p>best day eva!!! Am I right?!</p>

<form action="/madlib">
    WHAT...is your name?<input type="text" name="person" id="person">
    <br>
    WHAT...is your favorite color!? <select name="fave_color" id="faveColor">
        <option value="green">green</option>
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="magenta">magenta</option>
        <option value="chartreuse">chartreuse</option>
    </select>

    <br>
    WHAT...is your noun of choice?<input type="text" name="noun" id="noun">
    <br>
    WHAT...is your mood (or any adjective you like)?<input type="text" name="adjective" id="adjective">
    <br>
    WHAT...is the airspeed velocity of a fully laden swallow?
    <br>
    African, <input type="checkbox" name="swallow_type" id="african" value="african">
    or European? <input type="checkbox" name="swallow_type" id="european" value="european">
    <br>
    <br>
    <br>
    <input type="submit" value="Take me to the MADlib!">




</form>

</body>
</html>
