    <!DOCTYPE html>
<html>
<head>
    <title>MADlib</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <!-- Eventually we'll also pull in a value for {{ person }} but haven't yet-->
    <p>There once was a <span class="fancy">{{ color }} {{ noun }}</span> sitting in the Hackbright Lab. When <span class="fancy">{{ person }}</span> went to pick it up, it burst into flames in a totally <span class="fancy">{{ adjective }}</span> way.</p>
    <p>But the <span class="fancy">{{ swallow_type }}</span> was unamused.</p>
    <img src="http://placekitten.com/g/200/139">
    <p>A ten-foot beard that needs a comb... 
    No time for more, I'm almost home. 
    I swung 'round the corner and dashed through the gate, I 
    ran up the steps and I felt simply GREAT! 
    For I had a story that NO ONE could beat! 
    And to think that I saw it on Mulberry Street! 
    But Dad said quite calmly, 
    “just draw up your stool” 
    and tell me the sights on 
    the way home from school” There was so much to tell, I 
    JUST COULDN'T <span class="fancy">{{ verb }}</span>! Dad looked at me sharply 
    and pulled at his chin. 
    He frowned at me sternly from there in his seat, “was 
    there nothing to look at..No people to greet? 
    Did nothing excite you or make your heart beat?” 
    “Nothing,” I said, growing read as a beet, 
    “But a plain horse and wagon on Mulberry Street.” </p>
    <p> <span class="verb">{{ verb }}</span> on a minute! There's something wrong! 
    A reindeer hates the way it feels 
    To pull a thing that runs on wheels. 
    He'd be much happier, instead, 
    If he could pull a fancy sled. 
    Hmmm.. A reindeer and a sleigh.. 
    Say-anyone could think of that, 
    Jack or Fred of Joe or Nat-- 
    Say, even Jane could think of that. 
    But it isn't too late to make one little change. 
    A sleigh and an <span class="fancy"> {{ noun }}</span>! 
    There's something strange! 
    Say! That makes a story that no one can beat, 
    When I say that I saw it on Mulberry Street. 
    But now I don't know... It still doesn't seem right. 
    An elephant pulling a think that's so light 
    Would whip it around in the air like a kite. 
    But he'd look simply grand 
    With a great big brass band! 
    A band that's so good should have someone to hear it, 
    But it's going so fast that it's hard to keep near it. 
    I'll put on a trailer! I know they won't mind 
    If a man sits and listens while hitched on behind. </p>

    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg">


    <br>
    <br>
</html>