<!DOCTYPE html>
<html>
<head>
    <title>MADlib</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <!-- Eventually we'll also pull in a value for {{ person }} but haven't yet-->
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.</p>
    <br>
    <img src="http://placekitten.com/g/200/139">
    <br>
    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg">
</html>
