    <!DOCTYPE html>
<html>
<head>
    <title>MADlib</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <!-- Eventually we'll also pull in a value for {{ person }} but haven't yet-->
    <p>There once was a <span class="fancy">{{ color }} {{ noun }}</span> sitting in the Hackbright Lab. When <span class="fancy">{{ person }}</span> went to pick it up, it burst into flames in a totally <span class="fancy">{{ adjective }}</span> way.</p>
    <p>But the <span class="fancy">{{ swallow_type }}</span> was unamused.</p>
    <img src="http://placekitten.com/g/200/139">
    <p>
    That can't be my story. That's only a start. 
    I'll say that a <span class="fancy">{{ noun }}</span> was pulling that cart! 
    And that is a story that no one can beat, 
    When I say that I saw it on Mulberry Street. 
    Yes, the zebra is fine, 
    But I think it's a shame, 
    Such a marvelous beast 
    With a cart that's so tame. 
    The story would really be better to hear 
    If the driver I saw there were a charioteer. 
    A gold and blue chariot's something to meet, 
    Rumbling like thunder down Mulberry Street. 
    No, it won't do at all... a zebra's too small. 
    A reindeer is better; he's fast and he's fleet, 
    And he'd look mighty smart 
    On old Mulberry Street. 
    </p>

    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg">


    <br>
    <br>
</html>