<!DOCTYPE html>
<html>
<head>
    <title>MADlib</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <!-- Eventually we'll also pull in a value for {{ person }} but haven't yet-->
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.</p>
    <p>But the {{ swallow_type }} was unamused.</p>

    <img src="http://placekitten.com/g/200/139">
    <p>And To Think I saw it on Mulberry Street. By: Dr.Seuss 
    When I leave home to walk to <span class="user_input">{{ color }} {{ noun }}</span>, 
    {{ person }} always says to me, 
    “Marco, keep your eyelids up 
    And see what you can see.” 
    But when I tell him where I've been 
    And what I think I've seen, 
    He looks at me and sternly says, 
    “Your eyesight's much too keen.” 
    “Stop telling such <span class="user_input">{{ adjective }}</span> tales. 
    Stop turning minnows into whales.”</p> 
    <p>Now, what can I say 
    when I get home today? 
    All the long way to school 
    And all the way back, 
    I've looked and I've looked 
    And I've kept careful track. 
    But all that I've noticed, Except my own feet 
    Was a horse and a wagon on Mulberry Street. 
    That's nothing to tell of, 
    That won't do, of course.... 
    Just a broken-down wagon 
    That's drawn by a horse. </p>
    <p>
    <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/139.jpg">
    <br>
    <br>
</html>
